* {
  box-sizing: border-box;
}

#space {
  position: relative;
  background: #bbb;
}

.grid {
  stroke: #222;
  stroke-width: 1px;
  stroke-dasharray: 1, 4;
}

.body {
  stroke-width: 2px;
}

.planet {
  stroke: forestgreen;
  fill: blue;
}

.anomaly {
  stroke: red;
  fill: #111;
}

.anomaly:hover {
  stroke-width: 4px;
  fill: grey;
}

.ship {
  stroke: orange;
  fill: red;
}
